* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

div {
  display: inline-block; }

header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%; }

h3 {
  color: #093C59;
  font-family: 'Raleway', sans-serif;
  font-size: 190%; }

h4 {
  color: #696969;
  -webkit-text-fill-color: #696969;
  -moz-text-fill-color: #696969; }

h5 {
  text-decoration: underline; }

#toggle {
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  margin-top: -10%;
  width: 10%;
  cursor: pointer;
  font-size: 120%;
  position: absolute;
  left: 20px;
  top: 50px; }

#close {
  color: #093C59;
  background-color: #FFF;
  text-align: left;
  cursor: pointer;
  margin: 10px 5px 5px 5px;
  padding: 0px 8px;
  border-radius: 50%; }

#titleLink {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-text-fill-color: #093C59;
  -moz-text-fill-color: #093C59;
  -webkit-opacity: 1;
  -moz-opacity: 1; }
  #titleLink h1 {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 120%; }
  #titleLink img {
    height: 60px;
    margin: auto; }

#homelink {
  height: 60px;
  box-sizing: border-box; }

#navhome {
  border: 0px solid #FFF;
  border-top-width: 1px; }

#navcontact {
  border: 0px solid #FFF;
  border-bottom-width: 1px; }

#languages {
  margin-left: 10%; }

#cpp-box {
  background: url(../img/cpp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#python-box {
  background-image: url(../img/Python.png); }

#html-box {
  background-image: url(../img/html5.png);
  margin-top: 5px;
  height: 60%; }

#css-box {
  background-image: url(../img/sass.png); }

#js-box {
  background-image: url(../img/JavaScript-logo.png); }

#ai-box {
  background-image: url(../img/illustratorLogo.png);
  height: 65%; }

#ps-box {
  background-image: url(../img/photoshop.png);
  height: 65%; }

.titleBar {
  box-sizing: border-box;
  display: inline-block;
  background-color: #093C59;
  border-style: solid;
  border-color: #FFF;
  border-width: 0px;
  border-bottom-width: 1px;
  width: 100%;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  transition: all 400ms; }

.mobile-sidebar {
  display: block; }

.mobile {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: -1000px;
  width: 200px;
  height: 100vh;
  z-index: 10;
  transition: all 400ms;
  background-color: #093C59;
  box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.3); }
  .mobile a {
    color: #FFF; }
    .mobile a h2 {
      font-size: 16pt;
      padding: 10%;
      border: 1px solid white;
      border-right-width: 0px;
      border-left-width: 0px; }
    .mobile a :hover {
      text-decoration: underline; }

.current-page {
  background-color: #89E8E5; }
  .current-page a {
    color: #093C59; }

.leftmost {
  left: 0px; }

.content {
  transition: all 400ms;
  width: 80%;
  position: relative;
  top: 90px;
  margin: 0 10%;
  margin-bottom: 10%; }
  .content #profpic {
    position: relative;
    float: right;
    width: 40%;
    margin-left: 5%; }
    .content #profpic img {
      width: 100%;
      border-radius: 5px; }
  .content p {
    width: 100%;
    text-indent: 5%; }

.skills-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 7); }

.grid-cell {
  width: 80%;
  margin: auto;
  height: 100px;
  margin-bottom: 5%;
  display: block;
  box-shadow: 0px 0px 5px rgba(141, 141, 139, 0.75);
  border: solid 1px #093C59;
  border-radius: 5px;
  position: relative; }

.grid-cell:hover {
  box-shadow: 0px 0px 10px rgba(141, 141, 139, 0.75); }

.sub-grid-cell {
  width: 100%;
  height: 2em;
  line-height: 2em;
  background-color: #FFF;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.bkg-cell {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

footer {
  background-color: #FFF;
  border-style: solid;
  border-color: #093C59;
  border-width: 0px;
  border-top-width: 1px;
  width: 100%;
  height: 50px;
  color: #093C59;
  font-family: 'Raleway', sans-serif;
  font-size: 190%;
  text-align: center;
  margin: auto;
  margin-top: 40px; }

/*# sourceMappingURL=main.css.map */
